.logo {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(19, 32, 61);
}
